.App {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.Post__list {
  display: flex;
  flex-direction: column;
}

.Post {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid darkslateblue;
  margin-bottom: 10px;
}

.Post button {
  margin-left: 15px;
}

.Post__list {
  display: flex;
}
